
body{
  background-color: #f5f4f0;
}

.card{
  border: 0 !important;
}



/*Scrool Button*/
#ScroolButton {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#ScroolButton:hover {
  cursor: pointer;
}
#ScroolButton.show {
  opacity: 1;
  visibility: visible;
}
/*Scrool Button END*/

/* Navbar */
nav .collapse .nav-link{
  color: #4a270b !important;
  font-size: large;
  font-family: 'Recursive', sans-serif;
}
nav .collapse .nav-link:hover{
  color: #da840d !important;
}
nav .card-img-top:hover{
  padding: 1px;
  border: 1px solid #da850da1;
}
nav .dropdown-menu{
  padding: 0;
}
nav .card-body{
  font-family: 'Righteous', cursive;
}
nav .card .card-title a{
  color: #da840d !important;
  text-decoration: none;
  font-weight: bolder;
}
nav .card .card-title a:hover{
  color: #ad6902 !important;
  text-decoration: none;
}
nav ul li.list-group-item{
  border:none;
}
nav .card{
  padding-top: 0;
}
.scrollbar::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   border-radius: 10px;
   background-color: #F5F5F5;
 }
 .scrollbar::-webkit-scrollbar
 {
   width: 12px;
   background-color: #F5F5F5;
 }
 .scrollbar::-webkit-scrollbar-thumb
 {
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
   background-color: #555;
 }
/* Navbar END */

/*Carousel Slide*/

#carouselExampleIndicators {
  background-image: url(../img/background.jpg);
  background-position: center;
  background-repeat: repeat-y;
}

.carousel-indicators {
	bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel-item {
	min-height: 400px; 
	height: 100%;
	width:100%; 
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
	background-color: #09c;
}
.carousel-caption h3 {
	padding: .5em;
}
.carousel .icon-container {
	display: inline-block;
	font-size: 25px;
	line-height: 25px;
	padding: 1em;
	text-align: center;
	border-radius: 50%;
}
.carousel-caption button {
	border-color: #00bfff;
	margin-top: 1em; 
}
/* Animation delays */
.carousel-caption h3:first-child {
	-webkit-animation-delay: 1s;
	        animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
}
.carousel-caption button {
	-webkit-animation-delay: 3s;
	        animation-delay: 3s;
}

#carousel h1 {
  text-align: center;  
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

#carousel .p {
  padding-top: 125px;
  text-align: center;
}

#carousel .p a {
  text-decoration: underline;
}
/*Carousel Slide END*/

/*tanitim*/
#tanitim h4{
  color:#4a270b;
  font-weight: bolder;
}
#tanitim h4:hover{
  color: #da840d !important;
  font-size: xx-large;
}
#tanitim .col-sm-6{
  font-family: 'Righteous', cursive;
}
#tanitim img{
  width: 70px; 
  height: 70px;
  margin-top: 10px;
}
/*tanitim END*/

/*Hakkimizda*/
#hakkimizda .card-text{
  font-family: 'Recursive', sans-serif;
}
#hakkimizda h3 span{
  position: relative;
  color: #4a270b;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  text-decoration: none;
}
#hakkimizda h3 span:hover{
  font-size: 1.5em;
  transition: all 0.5s ease-in 0s;
}
#hakkimizda h3 span:hover::before{
  visibility: visible;
  transform: scaleX(1);
}
#hakkimizda h3 span::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
/*Hakkimizda END*/

/*Footer*/
footer .col-md-4 .col-lg-3 img,footer .col-md-4 .col-4 img{
  width: 50px; 
  height: 50px;
}
/*Footer END*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

  /*Navbar */
  nav .logo{
    width: 120px;
    height: 90px;
  }
  nav .siparis-logo {
    width: 150px;
    height: 50px;
    margin-bottom: 15px;
  }

  nav .collapse .nav-link{
    font-size: medium;
  }
  nav .dropdown-menu .list-group-horizontal{
    max-width: 450px;
    overflow-x:scroll ;
    max-height: fit-content;
  }
  nav .card-img-top{
    width: 120px;
    height: 120px;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu{
    border: 0.5px solid rgba(163, 163, 163, 0.699);
    border-radius: 10px;
  }
  nav .card{
    font-size: smaller !important;
  }
  /*Navbar END*/

  /*İletisim*/
  #iletisim .border-left{
    border-left: 0 !important;
    border-top: 1px solid #dee2e6!important;
  }
  /*İletisim END*/
  
  /*footer*/
  footer .col-md-4 .col-lg-9{
    margin-top: 10px;
  }
  /*footer END*/

 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

  /*Navbar */
  nav .logo{
    width: 120px;
    height: 90px;
  }
  nav .siparis-logo {
    width: 150px;
    height: 50px;
    margin-bottom: 15px;
  }
  nav .collapse .nav-link{
    font-size: medium;
  }
  nav .dropdown-menu .list-group-horizontal{
    max-width: 500px;
    overflow-x:scroll ;
    max-height: fit-content;
  }
  nav .card-img-top{
    width: 120px;
    height: 120px;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu{
    border: 0.5px solid rgba(163, 163, 163, 0.699);
    border-radius: 10px;
  }
  nav .card{
    font-size: smaller !important;
  }
  /*Navbar END*/

  /*İletisim*/
  #iletisim .border-left{
    border-left: 0 !important;
    border-top: 1px solid #dee2e6!important;
  }
  /*İletisim END*/

  /*footer*/
  footer .col-md-4 .col-lg-9{
    margin-top: 10px;
  }
  /*Footer END*/

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

  /*Navbar */
  nav .logo{
    width: 150px;
    height: 100px;
  }
  nav .siparis-logo {
    width: 180px;
    height: 70px;
  }

  nav .collapse .nav-link{
    font-size: medium;
  }
  nav .dropdown-menu .list-group-horizontal{
    max-width: 700px;
    overflow-x:scroll ;
    max-height: fit-content;
  }
  nav .card-img-top{
    width: 120px;
    height: 120px;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu{
    border: 0.5px solid rgba(163, 163, 163, 0.699);
    border-radius: 10px;
  }
  nav .card{
    font-size: smaller !important;
  }
  /*Navbar END*/

    /*Footer*/
    footer .col-md-4 .col-lg-3 img{
      width: 37px !important; 
      height: 37px !important;
    }
    footer .col-md-4 .col-lg-9{
      font-size: smaller !important;
    }
    /*Footer END*/

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  
  /*Navbar */
  nav .logo{
    width: 150px;
    height: 100px;
  }
  nav .siparis-logo{
    width: 120px;
    height: 50px;
    padding-bottom: 10px;
    margin-left:50px ;
  }
  nav .collapse .nav-item{
    margin-top: 50px !important;
    display: block;
    padding: 3px;
  }
  nav .collapse .nav-link{
    font-size: medium;
  }
  nav .dropdown-menu .list-group-horizontal{
    max-width: 800px;
    overflow-x:scroll ;
    max-height: fit-content;
  }
  nav .card-img-top{
    width: 120px;
    height: 120px;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu{
    border: 0.5px solid rgba(163, 163, 163, 0.699);
    border-radius: 10px;
  }
  nav .card{
    font-size: smaller !important;
  }
  /*Navbar END*/

  /*Footer*/
  footer .col-md-4 .col-lg-3 img{
    width: 37px !important; 
    height: 37px !important;
  }
  footer .col-md-4 .col-lg-9{
    font-size: smaller !important;
  }
  /*Footer END*/

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  

  /*Navbar*/
  nav .dropdown-menu .list-group-horizontal{
    max-width: 1000px;
    overflow-x:scroll ;
    max-height: fit-content;
  }
  nav .logo{
    width: 200px;
    height: 150px;
  }
  nav .siparis-logo{
    width: 200px;
    height: 70px;
    padding-bottom: 10px;
    margin-left:50px ;
  }
  nav .collapse .nav-item{
    margin-top: 70px !important;
    display: block;
    padding: 5px;
  }

  nav .card-img-top{
    width: 200px;
    height: 200px;

  }
  .navbar-expand-lg .navbar-nav .dropdown-menu{
    border: 0.5px solid rgba(163, 163, 163, 0.699);
    border-radius: 10px;
  }
  /*Navbar END*/




 }






